<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Endereço, Whatsapp e Email para entrar em contato com DevsPro Solution.">
    <title>DevsPro Solution</title>
    <link rel="stylesheet" href="/public/contato.css" />
    <link rel="stylesheet" href="/public/menu.css">
    <link rel="stylesheet" href="/public/normalize.css">
    <! --[if lt IE 9]>

    <script src="js/html5shiv"></script>

    <![endif] -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <header>
    <div id="lateral">
        <div id="menu">
          <ul class="box">
            <li><a href="http://devsprosolution.com.br/somos.html">Somos</a></li>
            <li><a href="http://devsprosolution.com.br/">Home</a></li>
            <li><a href="http://devsprosolution.com.br/servicos.html">Serviços</a></li>
            <li><a href="http://devsprosolution.com.br/portfolio.html">Portfólio</a></li>
            <li><a href="http://devsprosolution.com.br/contato.html">Contato</a></li>
          </ul>
        </div>
      </div>
</header>
  <body>
    <div class="body-comum">  
        <h1>ENTRE EM CONTATO</h1>
      <div class="page-landing contact">
        <div id="post">
          <a href="https://goo.gl/maps/f7qLkxrJq7vrCehM9" target="_blank"> <img src="/assets/correspondencia.png" alt="devsprosolution"></a>
        </div>
        <div id="email">
          <a href="mailto:dimasdevspro@gmail.com"><img src="/assets/Email.png" alt="devsprosolution" /></a>
        </div>
        <div id="whatsapp">
          <a href="https://api.whatsapp.com/send?phone=+5511932228112&text=Olá!%20Meu%20nome%20é%20[Nome].%20Pode%20me%20enviar%20mais%20informações%20sobre:"
            target="_blank"
            ><img src="/assets/whatsapp.png" alt="devsprosolution" /></a>
        </div>
      </div>
    </div>
  </body>
</html>
