<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevsPro Solution</title>
    <link rel="stylesheet" href="/public/contato.css" />
    <link rel="stylesheet" href="/public/menu.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <header>
    <div id="lateral">
        <div id="menu">
          <ul class="box">
            <li><a href="http://devsprosolution.com.br/somos.html">Somos</a></li>
            <li><a href="http://devsprosolution.com.br/">Home</a></li>
            <li><a href="http://devsprosolution.com.br/servicos.html">Serviços</a></li>
            <li><a href="http://devsprosolution.com.br/contato.html">Contato</a></li>
          </ul>
        </div>
      </div>
</header>
  <body>
    <div class="body-comum">  
      <div class="page-landing contact">
        <h1>ENTRE EM CONTATO</h1>
        <div id="post">
          <a href="https://goo.gl/maps/f7qLkxrJq7vrCehM9" target="_blank"> <img src="/assets/correspondencia.png" alt="devsprosolution" />></a>
          <h3>ENDEREÇO DE CORRESPONDÊNCIA</h3>
          <p>Rua São Constantino, 207 - São Paulo - S.P.</p>
        </div>
        <div id="email">
          <a href="mailto:dimasdevspro@gmail.com"><img src="/assets/Email.png" alt="devsprosolution" /></a>
          <h3>E-MAIL</h3>
          <p>dimasdevspro@gmail.com</p>
        </div>
        <div id="whatsapp">
          <a href="https://api.whatsapp.com/send?phone=+5511932228112&text=Olá!%20Meu%20nome%20é%20[Nome].%20Pode%20me%20enviar%20mais%20informações%20sobre:"
            target="_blank"
            ><img src="/assets/whatsapp.png" alt="devsprosolution" /></a>
            <h3>WHATSAPP</h3>
          <p>(011)93222-8112</p>
          >
        </div>
      </div>
    </div>
  </body>
</html>
