<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevsPro Solution</title>
    <link rel="stylesheet" href="/public/portfolio.css" />
    <link rel="stylesheet" href="/public/menu.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <header>
    <div id="lateral">
        <div id="menu">
          <ul class="box">
            <li><a href="http://devsprosolution.com.br/somos.html">Somos</a></li>
            <li><a href="http://devsprosolution.com.br/">Home</a></li>
            <li><a href="http://devsprosolution.com.br/servicos.html">Serviços</a></li>
            <li><a href="http://devsprosolution.com.br/portfolio.html">Portfólio</a></li>
            <li><a href="http://devsprosolution.com.br/contato.html">Contato</a></li>
          </ul>
        </div>
      </div>
</header>
  <body>
    <div class="body-comum">
      <div class="page-landing portfolio">
        <h1>ALGUNS PROJETOS REALIZADOS</h1>
        <div class="project" id="p1">
          <h3> <a href="https://dimasdevspro.github.io/Projeto%201%20-%20Portfolio/d2_1_index.html" target="_blank" style="text-decoration: none;"><img src="/assets/Projeto1.png" alt=""></a> 
        </div>
        <div class="project" id="p2">
          <h3> <a href="https://dimasdevspro.github.io/Projeto%202%20-%20Foodfy/index.html" target="_blank" style="text-decoration: none;"><img src="/assets/Projeto1.png" alt=""></a> 
        </div>
        <div class="project" id="p3">
          <h3> <a href="https://dimasdevspro.github.io/index.html" target="_blank" style="text-decoration: none;"><img src="/assets/Projeto1.png" alt=""></a> 
        </div>
        <div class="project" id="p4">
          <h3> <a href="https://github.com/dimasdevspro" target="_blank" style="text-decoration: none;"><img src="/assets/logo_github.png" alt=""></a> 
        </div>  
      </div> 
       
    </div>
  </body>
</html>
