<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevsPro Solution</title>
    <link rel="stylesheet" href="/public/nossos-servicos.css">
    <link rel="stylesheet" href="/public/menu.css">
</head>
<header>
    <div id="lateral">
        <div id="menu">
          <ul class="box">
            <li><a href="http://devsprosolution.com.br/somos.html">Somos</a></li>
            <li><a href="http://devsprosolution.com.br/">Home</a></li>
            <li><a href="http://devsprosolution.com.br/servicos.html">Serviços</a></li>
            <li><a href="http://devsprosolution.com.br/portfolio.html">Portfólio</a></li>
            <li><a href="http://devsprosolution.com.br/contato.html">Contato</a></li>
          </ul>
        </div>
      </div>
</header>
<body>
    <div class="page-landing">
      <div class="web-services">
              <!-- <p>NOSSOS SERVIÇOS</p> -->
                <img src="/assets/Programando.png" alt="">
                <h1>SERVIÇOS WEB/MOBILE</h1>
                <p>Personalizados, institucionais, profissionais, e-commerce´s
                     - desenvolvemos produtos com qualidade.
                </p>
            </div>
    </div>
</body>
</html>