<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevsPro Solution</title>
    <link rel="stylesheet" href="/public/quem-somos.css">
    <link rel="stylesheet" href="/public/menu.css">
</head>
<header>
    <div id="lateral">
        <div id="menu">
          <ul class="box">
            <li><a href="http://devsprosolution.com.br/somos.html">Somos</a></li>
            <li><a href="http://devsprosolution.com.br/">Home</a></li>
            <li><a href="http://devsprosolution.com.br/servicos.html">Serviços</a></li>
            <li><a href="http://devsprosolution.com.br/contato.html">Contato</a></li>
          </ul>
        </div>
      </div>
</header>
<body>
    <div class="page-landing">
        <h1>VISÃO GERAL DA EMPRESA</h1>
        <P>DEVSPRO SOLUTION é um fornecedor de Desenvolvimento de Software,
           especializada na implantação de soluções de Web/Mobile 
           - instalação e suporte. Com o objetivo de aumento na 
           eficiência dos produtos do cliente.</P>
    </div>
</body>
</html>
