@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

html, body {
   min-height: 100vh;
   display: flex;    
}

body {
background-image: url(/assets/5.png);
font-size: 62.5%;
}

:root {
    --primary-color: #9c7af7;
    --secondary-color: #e8e8e8;

}

.page-landing {
    margin:auto;
    width: min(90%, 112rem);
    
}

.page-landing.contact {
    position: absolute;
    top: 14rem;
    right: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
    width: 32rem;
    justify-items: end;
    text-align: end;
}

.body-comum h1 {
    position: absolute;
    top: 10rem;
    right: 10rem;
    color: var(--primary-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4.5em;
    font-weight: 700;
    letter-spacing: 0.1em;
}

#post, #email, #whatsapp {
    padding: 1rem;
}
#post img, #email img, #whatsapp img {
    width: 2.5rem;
    height: 2.5rem;
}