@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

  body{
    margin: 0;
    display: flex;
    font-size: 62.5%;
  }
 
  :root {
    --primary-color: #9c7af7;
    --secondary-color: #e8e8e8;
  }

  .page-landing {
    background: url('../assets/1.png') no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  .page-landing :first-child {
    top: 7rem;
    left: 23%;
    position: absolute;
    width: 12rem;
    color: var(--primary-color);
    font-size: 3.8em;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
}


  .page-landing :last-child {
    top: 13rem;
    left: 23%;
    position: absolute;
    width: 15rem;
    color: var(--secondary-color);
    font-size: 1.5em;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
  }


  @media all and (min-width: 47.5em){
 
   
    .page-landing :first-child {
      top: 30rem;
     font-size: 9.8em;
  }
  
  
    .page-landing :last-child {
      top: 45rem;
      width: 27rem;
      font-size: 3.8em;
    }
  }

  @media all and (min-width: 64em){
    .page-landing :first-child {
      top: 19rem;
      left: 10%;
  }
    .page-landing :last-child {
      top: 34rem;
      width: 51rem;
      left: 10%;      
    }

    
  }