@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/* @charset "UTF-8"; */
/* =CSS Reset */
/* https://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, html, body {
	margin:0;
	padding:0;
	}
/* mais regras CSS reset */

/* regra para o box-sizing */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* regra para o clear float */
.cf:before,
.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}
body {
    /* espaço à esquerda para a barra vertical vísivel do menu */
	/* margin-left:55px;  */
	font:  62.5%/1.2 'Roboto Condensed', sans-serif;
	}

    #lateral {
        padding:50px 50px 0 0;
        -moz-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
        font-size:1.2em;
        background: #9c7af7;
        height:100%;
        overflow:hidden;
        width:10.6em; 
        position:fixed;
        top:0;
        left:-130px;
        }
        #lateral img {
           margin-left:320px;
        }
    #lateral:before {
        z-index:1000;
        content: url(/assets/baseline_menu_white_24dp.png);
        font-size:4em;
        color:#e3e3e3;
        position:fixed;
        left:0px;
        top:0px;
        width:50px;
        cursor:pointer;
        }
     #lateral:focus:before {
    left:-500px
        }
    #lateral:hover, #lateral:focus,  #lateral:active  {
       width: 4.6em;
        -moz-transform: width 2s;
            -webkit-transform: width 2s;
                -o-transform: width 2s;
                    transform: width 2s;
        padding-right:0;
    left:0em;
        
        }	

        #lateral .box {
            list-style-type:none;
            margin-bottom:1em;;
            padding-bottom:1em;
            }
       
        #menu {
            font-style:italic;
            position:relative;
            font-size:1.0em;
            margin:1em 0 1em -1em;
            padding:0;
            }
        #menu li {padding:0; margin:0;}
        #menu li a,  #menu li a:link {
            font-size:1.2em;
            color:rgb(255,255,255);
            text-decoration: none;
            padding: 0.8em 0 0.8em 1em;
            display: block;
            -moz-transition: all 1.2s ease;
                    -webkit-transition: all 1.2s ease;
                        -o-transition: all 1.2s ease;
                            transition: all 1.2s ease;
            }
        #menu li a:hover {
            color:#29213b;
            background-color:rgba(255,255,255,0.2);
            -moz-transition: all 0.5s ease;
                    -webkit-transition: all 0.5s ease;
                        -o-transition: all 0.5s ease;
                        transition: all 0.5s ease;
            }
            #menu li a {border-bottom:1px solid #ccc;}
            #menu li:first-child a {border-top:1px solid #ccc;}
         