@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

  body {
    
    display: flex;
    font-size: 62.5%;
  }
  :root {
    --primary-color: #9c7af7;
    --secondary-color: #e8e8e8;
  }

  .page-landing {
    height: 100vh;
    width: 100vw;
    background-image: url(/assets/5.png);
    background-repeat: no-repeat;
    background-size: cover;
  
  }

  .form-more-informations {
    position: relative;
  }

  .form-more-informations form {
    display: block;
    margin: 250px;
    width: 350px;
    height: auto;
    position: absolute;
  }

  .portfolio {
    position: absolute;
    top: 15rem;
    display: grid;
    grid-template-columns: repeat(2, 15em);
    row-gap: 2rem;
    margin-left: 1.5rem;
    width: 19rem;
    justify-items: center;
    text-align: center;
  }

  .portfolio h1 {
    position: absolute;
    top: -11.5rem;
    right: -.5rem;
    color: var(--primary-color);
    font-family: "Roboto Condensed", sans-serif;
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: 3px;
    width: 20rem;
    display: grid;
    grid-auto-rows: 1fr;
    text-align: center;
  }

  .project {
    padding: 10px;
  }
  .project img {
    width: 3.5rem;
    height: 3.5rem;
  }

  #p4 {
    /* grid-column: 2; */
  }

  @media all and (min-width:31.25em){

    .portfolio {
      top: 11rem;
      left: 14rem;
      justify-items: right;
    }
    .portfolio h1 {
      top: -8.5rem;
      right: .5rem;
      width: 34rem;
      text-align: right;
    }
  }

  @media all and (min-width:47.5em){
    .portfolio{
      justify-items: center;
      left: 50%;
      margin-left: -152px;
    }

    .portfolio h1{
      width: 21rem;
      text-align: center;
      right: -.5rem;
    }
  }

  @media all and (min-width:64em){
    .portfolio {
      top: 15rem;
      left: 46rem;
      justify-items: right;
          }
    .portfolio h1 {width: 35rem;}
  }

  @media all and (min-width:80em){
    .portfolio {
      left: 68rem;
    }
  }